<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP WebApp | Login Page</title>
</head>
<body>
    
    <h1>NLP WebApp</h1>

    <h3>Login here</h3>

    {% if message %}
        <p style="color:green">{{ message }}</p>
    {% endif %}

    <form action="/perform_login" method="post">
        <label>E-mail</label><br>
        <input type="email" name="user_ka_email"><br>
        <label>Password</label><br>
        <input type="password" name="user_ka_password"><br><br>
        <button>Login</button>
    </form>

    <p>Not a member? <a href="/register">Register here</a></p>

</body>
</html>