*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    background: #f0f0f0;
    display: flex;
}

.box{
    height: 50%;
    width: 20%;
    border: black 2px ridge;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}